body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  padding: 32px;
  background: #e8e8e8;
}

header h1 {
  position: relative;
  display: inline-block;
}

header h1 span {
  position: relative;
  z-index: 1;
}

header h1::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 7px;
  background: red;
  width: 100px;
  height: 30px;
}

header h1::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -20px;
  background: pink;
  width: 80px;
  height: 30px;
}

.each-changer {
  max-width: 500px;
  margin: 32px 0 0 0;
}

.each-changer label {
  margin-bottom: 10px;
  display: flex;
  font-weight: 500;
}

/* .each-changer select span {
  color: red;
} */

.container {
  color: #333;
  background: #f0f0f0;
  padding: 4px 10px;
  display: inline-block;
  margin-top: 10px;
}
